.flip-card {
  animation: flip 0.5s ease-in-out;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}