#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#fileUploadContainer, .img-gallery, #botResult {
  margin: 15px;
}

#botResult{
  width: 100%;
}

.img-gallery {
  img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}

.dataTable{
  width: 100%;
  table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  
  th,
  td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
  }
  
  th {
    text-align: left;
  }
  
  thead {
    th {
      background-color: #4358b4;
    }
  }
  
  tbody {
    tr {
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
    td {
      position: relative;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(255,255,255,0.2);
          z-index: -1;
        }
      }
    }
  }
}

#foodDescription, #errorDescription{
  width: 100%;
  white-space: pre-line;
  margin-top: 15px;
  text-align: justify;
}

.progressBar[data-loading="false"] {
  display: none;
}
